:root {
  --background: #121212;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: "Geist", sans-serif; */
  font-family: "Inria Serif", serif;

  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.banner_overlay{background: rgba(0,0,0,.5); width:100%; height:100%; position: absolute; top:0; left:0;}
.banner_content{position: relative; padding: 20px;    font-family: "Inria Serif", serif;

}
.about-us, .our-projects, .services{background: #101010; position: relative;}
.about-us h3, .our-projects h3, .services h3, .contact-us h3{font-size: 48px;}
/* .our-projects{position: relative; } */
.our-projects:after{content: ""; position: absolute; right: 0; top:-60px; width:232px; height:463px; background: url(../../public/images/watermark_logo.png) no-repeat;}
.our-projects .prev, .our-projects .next{border-radius: 0;}
.our-projects .prev:hover, .our-projects .next:hover{background: white;}
.our-projects .prev:hover svg, .our-projects .next:hover svg{color: #000;}
/* .services{position: relative;} */
.services-container{ display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
 .services-inner-container{
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(360px, 1fr)); */
  /* gap: 32px; */
  /* justify-content: center; */
 }
.services:before{content: ""; position: absolute; left: 20px; top:100px; width:150px; height:1290px; background: url(../../public/images/watermark.png) no-repeat;}
.card-overlay{position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: white;
  padding: 20px;
  height: 30%;}
  .services-card{ position: relative;
    width: 360px;
    height: 300px;
    overflow: hidden;
    cursor: pointer;}
    .services-card:hover img{filter: blur(5px);}
  .card-overlay h5{font-size: 20px;}
  .overlay-desc{text-align: left; padding-top: 10px; }
  .overlay-desc p{font-size: 16px;}
  .links{
    position: relative; font-size: 20px !important;
    
  }
  .links:after{ content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-in-out}

    .links:hover::after{
      width: 100%;
    }
  
    .footer-links .links{padding-bottom: 10px;}
    .social-icons{color:#fff !important}
    .social-icons:hover{ background-color: #fff !important;
      color: black !important;
      border-radius: 2px}
      .contact-us{position: relative;}
      .contact-us:after{content: ""; position: absolute; right: 10px; top:-790px; width:150px; height:1978px; background: url(../../public/images/watermark1.png) no-repeat;}
      .contact-us:before{content: ""; position: absolute; left: -90px; top:0px; width:232px; height:463px; background: url(../../public/images/watermark_logo1.png) no-repeat;}
      .about-us{padding-bottom: 12%;}


.services-inner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;

  max-width: 1200px; 

  align-items: center;
  padding: 2px;
 
  width: 100%
}


.banner_content h3{font-size: 54px; line-height: 94px;}
.primary-btn{font-size: 20px !important;}
.about-content{height:500px}
.copyright{color:#fff; font-size: 20px;}
/* .swiper-slide-visible{width:768px !important;} */

@media screen and (max-width: 1500px){

  .banner_content h3{font-size: 44px; line-height: 75px;}
  .links, .primary-btn, .copyright{font-size: 18px !important;
    
  }
  .about-us h3, .our-projects h3, .services h3, .contact-us h3{font-size: 40px !important;}
  .services-card{width:320px}
  .footer-logo{max-width: 200px;}
  .about-content h4{font-size: 32px;}
  .about-content p{font-size: 22px;}
  .about-content{height:390px}
}

@media screen and (max-width: 1330px){
  .services-card{width:280px; height:260px}
}